body {
    background: #999;
    color: #333;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
 width: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 padding: 50px;
 background: #999;
 float: left;
 position: fixed;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 46%;
  margin-right: 2%;
  margin-left: 2%;
}

article {
  margin-left: 670px;
  padding: 30px;
  width: 46%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  float: left;
  margin: 0;
  position: fixed;
  left: 25px;
  top: 15px;
}

nav {
  float: right;
  position: fixed;
  top: 15px;
  right: 25px;
}

nav ul {
  list-style: none;
}

nav li {
  float: left;
  margin-left: 25px;
}

#cougar {
  padding-top: 100px;
  clear: both;
  background: #379CB2;
}

#lion {
  background: #FFBD82;
}

#tiger {
  background: #82E8FF;
}

h2, section > p {
  text-align: center;
}

section {
  float: left;
  padding: 10px;
}
img {
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  padding: 10px;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #B26219; }
a:hover { color: #666; }
